{% extends "base.html" %}
{% load url from future %}
{% load webapp_helpers %}

{% block default_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css?v=2012102101" />
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Fantasy Ultimate</a>
            <ul class="nav">
                <li><a {% if active_tab == "league" %}class="active"{% endif %} href="{% url 'league' %}">{% if league.is_locked %}Leaderboards{% else %}All Teams{% endif %}</a></li>
                <li><a {% if active_tab == "team" %}class="active"{% endif %} href="{% url 'my_team' %}">My Team</a></li>
                <li><a {% if active_tab == "rules" %}class="active"{% endif %} href="{% url 'rules' %}">Rules</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img width="25" height="25" src="{{ user.profile_pic }}"/>
                        Hi, {{ user.first_name }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{% url 'account_signout' %}">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="app-main" class="container">
    {% block body_content %}{% endblock %}
</div>
<div id="footer">
	<div class="wrapper">
		<div class="fb-like" data-href="http://fantasy.ultimatepagehq.com/" data-send="false" data-width="800" data-show-faces="true" data-colorscheme="dark" data-font="lucida grande"></div>
		<div class="sponsor">
            <a href="https://www.leaguevine.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/leaguevine.jpg" /></a>
			<a href="http://hammerfakesandiobreaks.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/hammerfakes.jpg" /></a>
			<a href="http://fiveultimate.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/5.jpg" /></a>
			<a href="https://www.ngnultimate.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/x.jpg" /></a>
			<a href="http://www.patagonia.com" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/patagonia.jpg" /></a>
			<a href="http://www.ulticards.net/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/ulticards.jpg" /></a>
		</div>
		<div class="type">Fantasy Ultimate is a project from <a href="https://www.facebook.com/TheUltimatePage" target="_blank">The Ultimate Page</a><br />
			Brought to you by <a href="https://github.com/bendemboski" target="_blank">Ben Demboski</a>
		</div>		
	</div>
</div>
{% endblock %}

{% block page_script %}
{{ block.super }}
<script>
window.app_data = {
    {% for key, data in app_data.items %}
        "{{ key }}": {{ data|fix_json|safe }}{% if not forloop.last %},{% endif %}
    {% endfor %}
};
</script>

<script src="{{ STATIC_URL}}js/libs/underscore.js"></script>
<script src="{{ STATIC_URL}}js/lv.js?q=2012102203"></script>
{% endblock %}

{% block includes %}
{% include "includes/facebook.html" %}
{% endblock %}
