{% extends "base_webapp.html" %}
{% load url from future %}

{% block page_css %}
<style>
    .ui-leaderboard {
      width: 600px;
    }
    .ui-leaderboard-pills {
      float: left;
    }
    .tab-content {
      overflow: visible;
    }
    .ui-invite-friends {
      float: right;
      font-size: 16px;
    }
    .ui-fb-send-button {
      margin-right: 10px;
    }
    .ui-my-team td {
      background: #fffbcc !important;
    }
    .ui-view-roster-icon {
      display: block;
      float: right;
      padding: 5px;
      line-height: 0;
    }
    .ui-roster-loading-image {
      text-align: center;
      padding: 20px 0;
    }
    .ui-modal-owner-pic {
      margin-right: 10px;
    }
</style>
{% endblock %}

{% block body_content %}
<div class="ui-leaderboard">
    <div class="clearfix">
        <ul class="nav nav-pills ui-leaderboard-pills" id="tabs">
            <li><a href="#all" data-toggle="tab">Everyone</a></li>
            <li><a href="#friends" data-toggle="tab">My Friends</a></li>
        </ul>
        <div class="ui-invite-friends">
            <a href="#" class="js-fb-send ui-fb-send-button"><img width="78" height="33" src="{{ STATIC_URL }}img/fb_send_button.png"/></a> invite more friends
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane" id="all">
            {% if league.is_locked %}
                <h1 class="js-rank-line hide">You are currently ranked #<span class="js-rank"></span></h1>
            {% endif %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        {% if league.is_locked %}
                            <th></th>
                        {% endif %}
                        <th>Team</th>
                        {% if league.is_locked %}
                            <th>Points</th>
                        {% endif %}
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr class="js-team-row{% if team.owner == member %} ui-my-team js-my-team"{% endif %}" data-id="{{ team.id }}" data-owner-id="{{ team.owner.fbid }}">
                            {% if league.is_locked %}
                                <td>#{{ forloop.counter }}</td>
                            {% endif %}
                            <td class="js-title">{{ team.title }}</td>
                            {% if league.is_locked %}
                                <td>{{ team.score }}</td>
                            {% endif %}
                            <td>
                                <img class="js-owner-pic" width="25" height="25" src="{{ team.owner.profile_pic }}"/>
                                {{ team.owner.full_name }}
                                {% if league.is_locked %}
                                    <a href="#" class="ui-view-roster-icon js-view-roster"><i class="icon-zoom-in"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="friends">
            <div class="js-friends hide">
                {% if league.is_locked %}
                    <h1 class="js-rank-line hide">You are #<span class="js-rank"></span> of your friends</h1>
                {% endif %}
                <table class="table table-striped table-bordered js-friends">
                    <thead>
                        <tr>
                            {% if league.is_locked %}
                                <th></th>
                            {% endif %}
                            <th>Team</th>
                            {% if league.is_locked %}
                                <th>Points</th>
                            {% endif %}
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody class="js-friends-body">
                    </tbody>
                </table>
            </div>
            <div class="js-friends-loading">Loading...</div>
            <div class="js-no-friends hide">None of your friends are playing :(</div>
            <div class="js-fb-not-connected hide">Unable to get your list of friends. Are you logged in to Facebook?</div>
        </div>
    </div>
</div>

<div class="modal hide" id="roster-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><img class="ui-modal-owner-pic js-owner-pic" width="24" height="24"/><span class="js-title"></span></h3>
    </div>
    <div class="modal-body">
        <div class="ui-roster-loading-image js-wait-content">
            <img width="64" height="64" src="{{ STATIC_URL }}img/loading.gif"/>
        </div>
        <div class="js-roster-content"></div>
    </div>
</div>

{% endblock %}

{% block page_script %}
{{ block.super }}
<script>
$(function() {
    var setRank = function(paneEl) {
        var myTeam = paneEl.find(".js-my-team");
        if (myTeam.length > 0) {
            var rank = paneEl.find(".js-team-row").index(myTeam) + 1;
            var rankLine = paneEl.find(".js-rank-line");
            rankLine.find(".js-rank").text(rank);
            rankLine.show();
        };
    };

    setRank($("#all"));

    $(".ui-leaderboard").on("click", ".js-view-roster", function(e) {
        e.preventDefault();

        var el = $(e.target);
        var rowEl = el.closest(".js-team-row");

        var modal = $("#roster-modal");
        modal.find(".js-owner-pic").attr("src",
                rowEl.find(".js-owner-pic").attr("src"));
        modal.find(".js-title").text(rowEl.find(".js-title").text());

        var waitContent = modal.find(".js-wait-content");
        var rosterContent = modal.find(".js-roster-content");

        waitContent.show();
        rosterContent.hide();

        // Load into a child so cancelled requests don't interfere with each other
        rosterContent.html("<div></div>");
        var url = "{% url 'fragment_roster' %}?team_id=" + rowEl.attr("data-id") + " #content";
        rosterContent.children().first().load(url, function() {
            waitContent.hide();
            rosterContent.show();
        });

        modal.modal("show");
    });

    $("#tabs a").click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("#tabs a:first").tab('show');

    window.onFBInit(function() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                FB.api('/me/friends', function(response) {
                    var ids = _.pluck(response.data, 'id');
                    var els = $();
                    $(".js-team-row").each(function() {
                        var el = $(this);
                        var elid = el.attr("data-owner-id");
                        if (!el.hasClass("js-my-team")) {
                            var found = _.detect(ids, function(id) {
                                return id == elid;
                            });
                            if (!found) {
                                return;
                            }
                        }
                        els = els.add(el.clone());
                    });

                    $(".js-friends-loading").hide();
                    if (els.length > 0) {
                        els.appendTo($(".js-friends-body"));
                        $(".js-friends").show();
                        setRank($("#friends"));
                    } else {
                        $(".js-no-friends").show();
                    }
                });
            } else {
                $(".js-friends-loading").hide();
                $(".js-fb-not-connected").hide();
            }
        });

        $(".js-fb-send").click(function(e) {
            e.preventDefault();

            var a = document.createElement("a");
            a.href = "{% url 'index' %}";

            FB.ui({
                method: 'send',
                name: 'Play Fantasy Ultimate',
                link: a.href
            });
        });
    });
});
</script>
{% endblock %}
