{% extends "base_webapp.html" %}
{% load url from future %}

{% block page_css %}
<style>
    .ui-leaderboard {
      width: 500px;
    }
    .ui-my-team td {
      background: #fffbcc !important;
    }
</style>
{% endblock %}

{% block body_content %}
<div class="ui-leaderboard">
    <ul class="nav nav-pills" id="tabs">
        <li><a href="#all" data-toggle="tab">Everyone</a></li>
        <li><a href="#friends" data-toggle="tab">My Friends</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="all">
            <h1 class="js-rank-line hide">You are currently ranked #<span class="js-rank"></span></h1>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr class="js-team-row{% if team.owner == member %} ui-my-team js-my-team"{% endif %}" data-id="{{ team.owner.fbid }}">
                            <td>#{{ forloop.counter }}</td>
                            <td>{{ team.title }}</td>
                            <td>{{ team.score }}</td>
                            <td>
                                <img width="25" height="25" src="{{ team.owner.profile_pic }}"/>
                                {{ team.owner.full_name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="friends">
            <div class="js-friends hide">
                <h1 class="js-rank-line hide">You are #<span class="js-rank"></span> of your friends</h1>
                <table class="table table-striped table-bordered js-friends">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Team</th>
                            <th>Points</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody class="js-friends-body">
                    </tbody>
                </table>
            </div>
            <div class="js-friends-loading">Loading...</div>
            <div class="js-no-friends hide">None of your friends are playing :(</div>
            <div class="js-fb-not-connected hide">Unable to get your list of friends. Are you logged in to Facebook?</div>
        </div>
    </div>
</div>

{% endblock %}

{% block includes %}
{% include "includes/facebook.html" %}
{% endblock %}

{% block page_script %}
{{ block.super }}
<script>
$(function() {
    var setRank = function(paneEl) {
        var myTeam = paneEl.find(".js-my-team");
        if (myTeam.length > 0) {
            var rank = paneEl.find(".js-team-row").index(myTeam) + 1;
            var rankLine = paneEl.find(".js-rank-line");
            rankLine.find(".js-rank").text(rank);
            rankLine.show();
        };
    };

    setRank($("#all"));

    $("#tabs a").click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("#tabs a:first").tab('show');

    window.onFBInit(function() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                FB.api('/me/friends', function(response) {
                    var ids = _.pluck(response.data, 'id');
                    var els = $();
                    $(".js-team-row").each(function() {
                        var el = $(this);
                        var elid = el.attr("data-id");
                        if (!el.hasClass("js-my-team")) {
                            var found = _.detect(ids, function(id) {
                                return id == elid;
                            });
                            if (!found) {
                                return;
                            }
                        }
                        els = els.add(el.clone());
                    });

                    $(".js-friends-loading").hide();
                    if (els.length > 0) {
                        els.appendTo($(".js-friends-body"));
                        $(".js-friends").show();
                        setRank($("#friends"));
                    } else {
                        $(".js-no-friends").show();
                    }
                });
            } else {
                $(".js-friends-loading").hide();
                $(".js-fb-not-connected").hide();
            }
        });
    });
});
</script>
{% endblock %}
